$brand-primary: #239dce;
$brand-secondary: #dddddd;

$body-bg: #f0f3f4;

$text-color: $brand-primary;
$text-color-light: #666;
$text-color-inverse: #fff;

$input-border-focus: $brand-primary;

$font-family-base: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;